<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/webapp.css">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
  </head>
  <body>
  <section>
    <div>
        <div>
            <select name="the_session" hx-trigger="change" hx-post="/swimmers" hx-target="#swimmers">
                <option value="other}">Placeholder</option>
                {% for name in data %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
          </div>
          <div>
            <select name="swimmer" id="swimmers" hx-trigger="change" hx-post="/showevents" hx-target="#event">
                <option value="other}">Placeholder</option>
            </select>
          </div>
          <div>
            <select name="event" id="event" hx-trigger="change" hx-post="/showchart" hx-target="#showchart">
                <option value="other}">Placeholder</option>
            </select>
          </div>
          <div id="showchart" name="chart">
          </div>
    </div>
  </section>
  </body>
</html>